html {
  background-color: #c9b5ab;
  font-family: 'PT Sans', sans-serif;
}
header > nav a {
  color: #8f2440;
  font-weight: bold;
  font-size: 1.125rem;
  text-decoration: none;
}

header > nav li {
  list-style-type: none;
}

h1, h2 {
  color: #3f1622;
  font-weight: bold;
  line-height: 1.5;
  font-size: 1.5rem;
  line-height: 1.5;
}

nav li {
  list-style-type: none;
  font-weight: bold;
 }

  main, footer {
      font-family: 'PT Serif', serif;
      font-size: 1.125rem; ;
  }

img {
  width: 100%;
}
  figcaption {
  text-align: center;
  font-style: italic;
  }

  p:nth-last-of-type(4) {
    font-weight: bold;
    font-size: 1.5rem;
  }

  a:hover {
    color: #222;
    text-decoration: underline;
  }

  blockquote {
    font-style: italic;
    text-align: justify;
    font-size: 1.5rem;
  }
   cite:nth-last-of-type(1) {
     font-size: 0.8rem;
  }

  ol li {
    list-style-type: lower-greek;
  }

  dt {
    font-weight: bold;
  }
 aside > ul li {
   list-style-type: circle;
 }
