html {
  background-color: #c9b5ab;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: .67em;
  margin-bottom: .67em;
}

a, nav li {
  color: #8f2440;
  font-weight: bold;
  font-size: 1.125rem;
  text-decoration: none;
  padding-bottom: .5rem;
}

header > nav li {
  list-style-type: none;
}

h1, h2 {
  color: #3f1622;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  line-height: 1.9;
  font-size: 1.5rem;
  margin: auto;
}

nav li {
  list-style-type: none;
  font-weight: bold;
  font-family: sans-serif;
}

h1 i {
  font-style: italic;
  font-weight: bold;
  font-family: sans-serif;
}

main, footer {
  font-family: "PT Serif", serif;
  font-size: 1rem;
  font-weight: normal;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: 1rem;
}

.p-1 {
  font-size: 1.125rem;
  font-weight: bold;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: .5em;
}

a:hover {
  color: #222;
  text-decoration: underline;
}

blockquote {
  font-style: italic;
  text-align: justify;
  font-size: 1.5rem;
}

cite:nth-last-of-type(1) {
  font-size: .8rem;
}

ol li {
  list-style-type: lower-greek;
}

.serving {
  font-style: italic;
  line-height: 1.2;
}

.dl-2 dt {
  font-weight: bold;
  line-height: 1.2;
}

aside > ul li {
  list-style-type: circle;
}

b {
  font-weight: normal;
}
